<h1 class="game-instructions" >Game Instructions</h1>
<div class="all-instructions">
    <li>    
        1. As the name suggests("Lights out"), you have to turn all the lights off.
    </li>
    <li>
        2. Initially some of the lights will be turned 'ON'.
    </li>
    <li>
        3. On clicking any box with lights 'ON' will turn it 'OFF' and vice versa.
    </li>
    <li>
        4. But clicking on any box will toggle the adjacent boxes, so if any adjacent(top, bottom, left, right) box if 'ON' then it will be turned 'OFF' and vice versa.
    </li>
    <li>
        5. <strong><em>Try to win the game with least no. of moves.</em></strong> 
    </li>
    <li>
        6. Hint: Try solving from top row to bottom row first :), so that the board is left with lights 'ON' boxes at the last row.
    </li>
    <li>
        7. PS : Every time u refresh the page you have to register again, so try not to. 
    </li>
</div>

<div class="btn-groups">
    <button class="back-btn" (click)="welcomePage()" >Back</button>
    <button class="play-btn" (click)="registerPage()">Proceed</button>
</div>